footer{
    background-color: #72803E;
    margin: 5% 1% 1% 1%;
    box-shadow: 10px 10px 20px  rgba(0,0,0,0.75);
    border-radius: 30px;
    color: white;

}

footer li{
    color: white;
}

footer li:hover{
    color: rgba(255, 255, 255, 0.507);
}

.twoColumn{
    display: flex;
    justify-content: space-between;
}

.colLeft{
    margin-top: 18px;
}

.colRight{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
