footer{
    background-color: #72803E;
    margin: 3% 1% 1% 1%;
    box-shadow: 10px 10px 20px  rgba(0,0,0,0.75);
    border-radius: 30px;
    color: white;

}

footer li{
    color: white;
}

footer li:hover{
    color: rgba(255, 255, 255, 0.507);
}

.twoColumn{
    display: flex;
    justify-content: space-between;
}

.colLeft{
    margin-top: 18px;
}

.colRight{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px){
    .twoColumn{
        flex-direction: column;
    }
    .colLeft{
        text-align: center;
        width: 100%;
    }

    .colRight ul{
        padding: 0;
    }
    .colRight{
        width: 100%;
    }
    .ProductList{
        width: 50%;

    }
    .Contact{
        width: 50%;
    }
}