.ProductSearch{
    margin: 1%;
    padding: 2% 0;
    box-shadow: 10px 10px 20px  rgba(0,0,0,0.75);
    border-radius: 30px;
}

.dropDown{
    background-color: white;
    color: black;
    width: 20vw;
    padding: 1%;
    box-shadow: 2px 2px 10px  rgba(0,0,0,0.75);
    border-radius: 30px;
}

.dropDown:focus-visible{
    background-color: white;
    color: black;
    outline: none;
}